RewriteEngine On

# Si le fichier ou dossier demandé existe physiquement, on le sert directement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on renvoie tout vers index.php
RewriteRule ^ index.php [QSA,L]